{% extends 'base.html' %}

{% block content %}
<div class="align-center col-10 offset-1">
    <div class="d-flex justify-content-between align-items-center">
        <p class="lead ml-0">My Movies</p>
        <form action="" class="d-flex align-items-center">
            {% csrf_token %}
            <input type="text" name="moviename" placeholder="Enter a movie" class="form-control-sm mr-2">
            <button hx-post="{% url 'add-movie' %}" hx-target="#movie-list" type="submit" class="btn btn-success btn-sm">Add movie</button>
        </form>
    </div>
    <hr>
    <div id="movie-list">
        {% include 'partials/movie_list.html' %}
    </div>
</div>

{% endblock content %}